# Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Playlists dataset

In [3]:
playlists = pd.read_csv('Data/playlists_final.csv', sep='\t')

### Title column conversion to list of integers

In [46]:
import string

def stringParsing(listString):
    x = "".join(x for x in listString if x not in string.punctuation)
    x = list(map(int, x.split()))

    return x

In [54]:
playlists['title'] = playlists['title'].apply(stringParsing)

### Dataset inspection

In [55]:
playlists.describe()

         created_at   playlist_id     numtracks       duration         owner
count  5.756100e+04  5.756100e+04  57561.000000   57561.000000  57561.000000
mean   1.272374e+09  6.505517e+06     30.738816    8079.101075  27341.217022
std    5.371220e+07  3.049124e+06     42.731612   11852.823672  14431.376628
min    1.169657e+09  7.569000e+03      0.000000       0.000000      3.000000
25%    1.232933e+09  4.218783e+06      5.000000    1260.000000  14717.000000
50%    1.267043e+09  6.596396e+06     13.000000    3359.000000  29811.000000
75%    1.307556e+09  8.650848e+06     36.000000    9224.000000  41162.000000
max    1.423787e+09  1.176636e+07    200.000000  439332.000000  45169.000000

In [56]:
playlists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57561 entries, 0 to 57560
Data columns (total 6 columns):
created_at     57561 non-null int64
playlist_id    57561 non-null int64
title          57561 non-null object
numtracks      57561 non-null int64
duration       57561 non-null int64
owner          57561 non-null int64
dtypes: int64(5), object(1)
memory usage: 2.6+ MB

In [57]:
playlists.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542