# Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Playlists dataset

In [2]:
playlists = pd.read_csv('Data/playlists_final.csv', sep='\t')

### Title column conversion to list of integers

In [3]:
import string

def stringParsing(listString):
    x = "".join(x for x in listString if x not in string.punctuation)
    x = list(map(int, x.split()))

    return x

In [4]:
playlists['title'] = playlists['title'].apply(stringParsing)

### Dataset inspection

In [56]:
playlists.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57561 entries, 0 to 57560
Data columns (total 6 columns):
created_at     57561 non-null int64
playlist_id    57561 non-null int64
title          57561 non-null object
numtracks      57561 non-null int64
duration       57561 non-null int64
owner          57561 non-null int64
dtypes: int64(5), object(1)
memory usage: 2.6+ MB

In [57]:
playlists.head()

,created_at,playlist_id,title,numtracks,duration,owner
0,1216545588,644838,[12727],27,6522,41504
1,1249326867,7577564,[],9,2650,41504
2,1257766688,3120683,[183],16,3645,44542
3,1248079275,4278112,"[12389, 18698, 18925, 11695, 7117]",15,4151,44542
4,1175201268,8656823,"[12809, 2095, 13257, 12671, 20426, 14448, 18698]",84,18414,44542

In [15]:
tracks = pd.read_csv('Data/tracks_final.csv', sep='\t')

In [16]:
tracks['tags'] = tracks['tags'].apply(stringParsing)
tracks.head()

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"
1,2750239,246,157000,1.0,[8],"[189631, 3424, 177424, 46208, 205245]"
2,1550729,144,217000,554.0,[9],"[54087, 109806, 46869, 183258, 54337]"
3,2169950,144,207000,200.0,[9],"[54087, 70618, 207003, 109806, 116712]"
4,1903709,144,198000,5.0,[None],"[54087, 81223, 116712, 215342, 71028]"

In [17]:
target_tracks = pd.read_csv('Data/target_tracks.csv', sep='\t')

In [18]:
target_tracks.head()

   track_id
0   1316175
1   3885714
2   3091270
3    226759
4    230596

In [19]:
target_playlists = pd.read_csv('Data/target_playlists.csv', sep='\t')

In [20]:
target_playlists.head()

   playlist_id
0     10024884
1     10624787
2      4891851
3      4267369
4        65078

In [21]:
# Playlist - Tracks interactions
interactions = pd.read_csv('Data/train_final.csv', sep='\t')

In [22]:
interactions.head()

   playlist_id  track_id
0      3271849   2801526
1      5616275    727878
2     11267488   2805283
3     10103900   1515105
4      3836898   2945623

In [23]:
print(interactions.shape)
print(target_playlists.shape)
print(target_tracks.shape)

(1040522, 2)
(10000, 1)
(32195, 1)